@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700;900&family=Noto+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
